<html>

        <head>
                <title>about</title>
                <link rel="stylesheet" href='./css/styles.css'>
        </head>
        
<body>
        {{>header}}
        <h3>It uses data from mapbox and weatherstack </h3>
        {{>footer}}
</body>

</html>
